.selection {
	float: right;
	ul {
		display: block;
	}
	li {
		float: right;
		width: 0.75em;
		height: 0.75em;
		background-color: #16F555;
		margin: 0 2px;
		list-style-type: none;
	}
}
.wrapper li {
	list-style-type: none;
}

.carousel {
	width: 50%;
	margin: auto;
}