@selector-size: 0.75em;
@selector-color: red;

.selection {
	float: right;
	ul {
		display: block;
		:hover {
			background-color: lighten(@selector-color, 30%);
		}
	}
	li {
		overflow: visible;
		float: right;
		width: @selector-size;
		height: @selector-size;
		background-color: @selector-color;
		margin: 0 2px;
		list-style-type: none;
		cursor: pointer;
		border: 2px solid black;
	}
	.selected {
		background-color: orange;
	}
}
.wrapper {
	max-width: inherit;
	max-height: inherit;
	ul {
		li {
			list-style-type: none;
		}
	}
}

@w:500px;
@h:50px;
.slider{
	max-width: @w;
	max-height: @h;
	margin: auto;
}