@selector-size: 0.75em;
@selector-color: grey;
@on-select-color: orange;

.selection {
	float: right;
	ul {
		display: block;
	}
	li {
		overflow: visible;
		float: right;
		width: @selector-size;
		height: @selector-size;
		background-color: @selector-color;
		margin: 0 2px;
		list-style-type: none;
		cursor: pointer;
		border: 2px solid black;
	}
	.selected {
		background-color: @on-select-color;
	}
}

@w:800px;
@h:50px;
@header-height: 80px;

.sizes () {
	width: @w;
	height: @h;
	min-height: @h;
	min-width: @w;
	max-width: @w;
	max-height: @h;
}

.wrapper {
	.sizes;
	ul {
		text-align: center;
		li {
			list-style-type: none;
		}
	}
}

.slider{
	.sizes;
	margin: auto;
}

.header {
	background: #000;
	height: @header-height;
}