.lead {
	text-align: left;
}
p {
	text-align: left;
}

.size(@w, @h) {
	width: @w;
	height: @h;	
}

#rect {
	.size(150px, 150px);
	background-color: red;
	margin: auto;
}

#preprocessors {
	display: table;
	div {
		width: 25%;
		vertical-align: middle;
		display: table-cell;
		img{
			border: 0px;
			box-shadow: none;
		}
	}
}

.start .reveal .state-background {
	background-image: url(../img/start.jpg);
}

.header {
		color: white !important; //fuck
		background-color: black;
		opacity: 0.75;
		display: inline;
	}

.doubled {
	background-color: gray !important;
	table {
		margin: auto !important;
	}
}

.less {
	color: white;
	background-color: lighten(black, 25%);
}

.compiled {
	background-color: white;
}

