@import "../vars";
@import "../methods";

.event {
	float: left;
}

.date-heading {
	border-bottom: 1px solid $red;
	margin-bottom: 15px;
	display: inline-block;
	float: left;
}

.date-heading__days {
	font: italic #{rem(40px)}/#{rem(25px)} $pt-serif;
	margin-bottom: 10px;
}