html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

.emphasis {
  font: italic 0.8125rem/1.25rem "PT Serif Caption", "pt_serif_caption", serif;
  color: #4d4d4d; }

.btn-more {
  display: inline-block;
  margin: 20px 0 20px;
  padding: 7px;
  color: #e53c20;
  clear: both; }
  .btn-more a {
    border-bottom: 1px solid #e53c20; }

.btn-more__emphasized {
  border: 3px solid #e53c20; }
  .btn-more__emphasized a {
    border-bottom: 1px dotted #e53c20; }

.soft-link {
  border-bottom: 1px solid #bebebe; }
  .soft-link:active {
    color: #666666; }

.annotation {
  position: relative;
  display: block;
  margin-bottom: 35px;
  text-align: center; }

.video {
  cursor: pointer;
  width: 140px;
  height: 100px;
  position: relative;
  display: inline-block;
  margin: 0 auto 17px;
  float: none; }
  .video:hover .video__btn-img {
    left: 0;
    top: -43px; }

.video__btn-play {
  position: absolute;
  left: 52px;
  top: 35px;
  width: 36px;
  height: 29px;
  overflow: hidden; }

.video__btn-img {
  position: relative;
  left: 0;
  top: -14px; }

.book-img {
  float: left;
  margin-right: 20px; }

.book-img-horizontal {
  -webkit-box-shadow: 3px 7px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 7px 6px rgba(0, 0, 0, 0.5); }

.book-img-vertical {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.agressive-link {
  color: #e53c20;
  border-bottom: 1px solid #e53c20; }

.span25, .span50, .span33, .span66, .span75, .span100 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left; }

.span25 {
  width: 25%; }

.span33 {
  width: 33%; }

.span50 {
  width: 50%; }

.span66 {
  width: 66%; }

.span75 {
  width: 75%; }

.span100 {
  width: 100%; }

.row {
  width: 100%;
  clear: both;
  position: relative; }
  .row:after {
    display: table;
    content: " ";
    clear: both; }

.push25 {
  margin-left: 25%; }

.push12 {
  margin-left: 12.5%; }

.section__header {
  font: 2.1875rem/1.875rem "DINPro", "dinpro-regular", sans-serif;
  color: #2f2f2f;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  background-color: white;
  padding: 0 16px 0;
  top: 17.5px; }

.section__header-block {
  border-bottom: 1px solid #c4bdaf;
  margin-bottom: 30px;
  text-align: center; }

.subsection {
  text-align: center; }

.subsection__header-block {
  border-bottom: 1px dashed #c4bdaf;
  padding: 0 40px 0;
  margin: 0 20px 30px;
  text-align: center; }

.subsection__header {
  display: inline-block;
  position: relative;
  top: 15px;
  padding: 0 16px 0;
  background-color: white;
  text-transform: uppercase;
  color: #2f2f2f;
  font: 1.25rem/1.875rem "DINPro", "dinpro-regular", sans-serif; }

.article, .subsection {
  display: inline-block; }

.article {
  width: 235px;
  display: inline-block;
  vertical-align: top;
  float: none; }

.article-book {
  width: 350px;
  margin: auto 80px auto; }

.article__header-block {
  margin-bottom: 15px;
  text-align: left;
  display: block; }

.article__header-block-above {
  text-align: center; }

.article__header {
  font: 1.25rem/1.375rem "Times New Roman", "Linux Libertine", serif;
  border-bottom: 1px solid #e53c20;
  display: inline; }

.article__text {
  text-align: left; }

.article__elems-under-video {
  margin-left: 47.5px; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 23, 2013 */
@font-face {
  font-family: 'pt_serif_caption';
  src: url("ptz56f-webfont.eot");
  src: url("ptz56f-webfont.eot?#iefix") format("embedded-opentype"), url("ptz56f-webfont.woff") format("woff"), url("ptz56f-webfont.ttf") format("truetype"), url("ptz56f-webfont.svg#pt_serif_captionitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'dinpro-regular';
  src: url("dinpro-regular-webfont.eot");
  src: url("dinpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("dinpro-regular-webfont.woff") format("woff"), url("dinpro-regular-webfont.ttf") format("truetype"), url("dinpro-regular-webfont.svg#dinpro-regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

header {
  margin-bottom: 20px; }

.social {
  text-align: left; }

.social__elem {
  overflow: hidden;
  margin-right: 20px;
  height: 20px;
  vertical-align: bottom; }

.twitter {
  width: 18px;
  height: 14px; }
  .twitter img {
    position: relative;
    left: 0;
    top: 0; }

.facebook {
  width: 13px;
  height: 13px; }
  .facebook img {
    position: relative;
    left: -18px;
    top: 0; }

.title__master {
  margin: 0 auto 0;
  text-align: center;
  text-transform: uppercase;
  font: 1.5625rem/1.25rem "DINPro", "dinpro-regular", sans-serif;
  letter-spacing: 0.375rem; }

.title__slave {
  font: 0.8125rem/1.25rem "DINPro", "dinpro-regular", sans-serif;
  letter-spacing: normal; }

.lang {
  float: right;
  text-align: right;
  text-transform: uppercase; }

.lang__elem {
  margin-left: 8px; }

.lang__elem.active .lang__link {
  border-style: none;
  cursor: default;
  color: #666666; }

.event {
  float: left; }

.date-heading {
  border-bottom: 1px solid #e53c20;
  margin-bottom: 15px;
  display: inline-block;
  float: left; }

.date-heading__days {
  font: italic 2.5rem/1.5625rem "PT Serif Caption", "pt_serif_caption", serif;
  margin-bottom: 10px; }

.nav {
  color: #252525;
  text-align: right;
  font: 0.9375rem/1.5625rem "DINPro", "dinpro-regular", sans-serif;
  text-transform: uppercase; }

.nav__elem {
  display: list-item; }

.nav__link {
  border: none;
  padding: 0 5px 0; }
  .nav__link:hover {
    background-color: #ebe7d6; }

.big-carousel {
  padding: 0 30px 0;
  position: relative;
  margin-bottom: 35px; }

.big-carousel__prev, .big-carousel__next {
  padding-left: 20px; }

.big-carousel__controls-block {
  text-align: left;
  margin-left: 48px; }

.big-carousel__wrapper {
  width: 490px;
  height: 500px;
  position: relative;
  margin: auto; }

.big-carousel__img {
  display: none; }
  .big-carousel__img.active {
    display: inline; }

.big-carousel__progress {
  font: italic 3.125rem/1.875rem "PT Serif Caption", "pt_serif_caption", serif;
  position: absolute;
  left: 18px;
  bottom: 15px;
  color: white; }

.bio {
  position: absolute;
  top: 235px;
  right: 40px;
  width: 33%; }

.bio__header {
  font: 2.1875rem/1.875rem "DINPro", "dinpro-regular", sans-serif;
  color: #2f2f2f;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #505050; }

.billboard {
  margin-bottom: 70px; }

.billboard__header-block {
  padding-left: 30px; }

.billboard__header {
  display: inline;
  text-transform: uppercase;
  font: 4.375rem/5.625rem "DINPro", "dinpro-regular", sans-serif;
  border-bottom: 1px solid #e53c20; }

.billboard__info {
  padding-left: 50px;
  padding-top: 17px;
  float: right;
  text-align: right; }

.carousel__wrapper {
  position: relative; }

.carousel__img-block {
  position: relative;
  overflow: hidden; }

.carousel__img {
  position: absolute;
  display: list-item; }
  .carousel__img.active {
    display: inline;
    position: relative; }

.carousel__progress {
  position: absolute;
  top: 15px;
  right: -15px;
  font-size: 30px; }

.carousel__controls-block {
  color: white;
  background-color: #2f2f2f;
  background-color: rgba(47, 47, 47, 0.8);
  width: 275px;
  height: 35px;
  position: absolute;
  bottom: 5px; }

.carousel__title-block {
  display: inline-block; }

.carousel__title {
  position: relative;
  top: 5px;
  display: none; }

.carousel__title.active {
  display: inline; }

.carousel__prev, .carousel__next {
  position: relative;
  top: 7px;
  overflow: hidden;
  margin: 0 7px 0;
  width: 16px;
  height: 17px; }

.carousel__prev {
  float: left; }
  .carousel__prev img {
    left: 0;
    top: -73px;
    position: relative; }
  .carousel__prev:hover img {
    left: 0;
    top: -90px; }

.carousel__next {
  float: right; }
  .carousel__next img {
    left: -18px;
    top: -73px;
    position: relative; }
  .carousel__next:hover img {
    left: -18px;
    top: -90px; }

.carousel {
  width: 275px;
  height: 190px;
  margin: 0 auto 110px;
  text-align: center; }

body {
  padding: 50px 50px 0;
  font: 0.8125rem/1.25rem "Arial", "Liberation Sans", sans-serif;
  color: #505050;
  min-width: 1100px;
  max-width: 1400px; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none; }

li {
  display: inline-block; }

footer {
  border-top: 1px solid #c4bdaf;
  margin: 65px 0 45px;
  padding-top: 18px;
  text-align: center; }

.footer__title {
  font: 1.25rem/1.875rem "DINPro", "dinpro-regular", sans-serif; }
